In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import math
%matplotlib inline

In [94]:
loan = pd.read_csv('LoansData.csv')

In [95]:
loan

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

# BUSINESS PROBLEM - 1

# (a) Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

In [96]:
stats.pearsonr?

In [97]:
loan['Interest.Rate'] = loan['Interest.Rate'].str.replace('%','').astype(float)

In [98]:
interest=loan['Interest.Rate'].tolist()
amount=loan['Amount.Requested'].tolist()

In [99]:
loan.isnull().sum()

Amount.Requested                   1
Amount.Funded.By.Investors         1
Interest.Rate                      2
Loan.Length                        0
Loan.Purpose                       0
Debt.To.Income.Ratio               1
State                              0
Home.Ownership                     1
Monthly.Income                     1
FICO.Range                         2
Open.CREDIT.Lines                  3
Revolving.CREDIT.Balance           3
Inquiries.in.the.Last.6.Months     3
Employment.Length                 77
dtype: int64

In [100]:
loan.dropna(axis=0, how='any', inplace=True)

In [101]:
interest=loan['Interest.Rate']
amount=loan['Amount.Requested']

In [102]:
loan.isnull().sum()

Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Length                       0
Loan.Purpose                      0
Debt.To.Income.Ratio              0
State                             0
Home.Ownership                    0
Monthly.Income                    0
FICO.Range                        0
Open.CREDIT.Lines                 0
Revolving.CREDIT.Balance          0
Inquiries.in.the.Last.6.Months    0
Employment.Length                 0
dtype: int64

In [103]:
b1= stats.pearsonr(interest, amount)

In [104]:
b1

(0.32655834784684623, 4.54550850928288e-61)

there is no relation between interest rates and loan amount as correlation coefficient is 0.32

# b. Loan length is directly effecting intrest rate.

In [105]:
loan['Loan.Length'] = loan['Loan.Length'].str.replace('months','').astype(int)

In [106]:
loan_length=loan['Loan.Length']

In [107]:
b2= stats.pearsonr(loan_length, interest)

In [108]:
b2

(0.42505738230947654, 1.7938010673370282e-106)

value is 0.42 so we can say that loan length is not directly effecting interest rate

# c. Inrest rate varies for different purpose of loans

In [112]:
loan_purpose=loan['Loan.Purpose']

In [113]:
loan_purpose.unique()

array(['debt_consolidation', 'credit_card', 'other', 'moving', 'car',
       'vacation', 'home_improvement', 'house', 'major_purchase',
       'educational', 'medical', 'wedding', 'small_business',
       'renewable_energy'], dtype=object)

In [114]:
purpose_category = ['debt_consolidation', 'credit_card', 'other', 'moving', 'car',
       'vacation', 'home_improvement', 'house', 'major_purchase',
       'educational', 'medical', 'wedding', 'small_business',
       'renewable_energy']

In [115]:
debt_consolidation = loan.loc[(loan['Loan.Purpose'] == 'debt_consolidation'),'Interest.Rate']
credit_card = loan.loc[(loan['Loan.Purpose'] == 'credit_card'),'Interest.Rate']
other = loan.loc[(loan['Loan.Purpose'] == 'other'),'Interest.Rate']
moving = loan.loc[(loan['Loan.Purpose'] == 'moving'),'Interest.Rate']
car = loan.loc[(loan['Loan.Purpose'] == 'car'),'Interest.Rate']
vacation = loan.loc[(loan['Loan.Purpose'] == 'vacation'),'Interest.Rate']
home_improvement = loan.loc[(loan['Loan.Purpose'] == 'home_improvement'),'Interest.Rate']
house = loan.loc[(loan['Loan.Purpose'] == 'house'),'Interest.Rate']
major_purchase = loan.loc[(loan['Loan.Purpose'] == 'major_purchase'),'Interest.Rate']
educational = loan.loc[(loan['Loan.Purpose'] == 'educational'),'Interest.Rate']
medical = loan.loc[(loan['Loan.Purpose'] == 'medical'),'Interest.Rate']
wedding= loan.loc[(loan['Loan.Purpose'] == 'wedding'),'Interest.Rate']
small_business = loan.loc[(loan['Loan.Purpose'] == 'small_business'),'Interest.Rate']
renewable_energy = loan.loc[(loan['Loan.Purpose'] == 'renewable_energy'),'Interest.Rate']

In [118]:
b3=stats.f_oneway(debt_consolidation,credit_card,other,moving,car,vacation,home_improvement,house,major_purchase,educational,medical,wedding,small_business,renewable_energy)

In [119]:
b3

F_onewayResult(statistic=7.330838185919651, pvalue=2.7646672581411367e-14)

In [121]:
b3.pvalue<0.05

True

as p-value is less than 0.05 so interest rate vary with different purpose of loans with 95% CI

# d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [147]:
loan[['Fico_Low', 'Fico_High']] = loan['FICO.Range'].str.split('-',expand=True)

In [148]:
loan.Fico_Low = loan.Fico_Low.astype('float64')
loan.Fico_High = loan.Fico_High.astype('float64')

In [149]:
loan['Fico_Avg'] = (loan.Fico_Low+loan.Fico_High)/2

In [150]:
loan

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Fico_Low,Fico_High,Fico_Avg
0,20000.0,20000.00,8.90,36,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year,735.0,739.0,737.0
1,19200.0,19200.00,12.12,36,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years,715.0,719.0,717.0
2,35000.0,35000.00,21.98,60,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years,690.0,694.0,692.0
3,10000.0,9975.00,9.99,36,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years,695.0,699.0,697.0
4,12000.0,12000.00,11.71,36,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years,695.0,699.0,697.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77,60,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years,705.0,709.0,707.0
2496,16000.0,16000.00,14.09,60,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years,740.0,744.0,742.0
2497,10000.0,10000.00,13.99,36,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years,680.0,684.0,682.0
2498,6000.0,6000.00,12.42,36,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years,675.0,679.0,677.0
2499,9000.0,5242.75,13.79,36,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years,670.0,674.0,672.0

In [151]:
loan.isna().sum()

Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Length                       0
Loan.Purpose                      0
Debt.To.Income.Ratio              0
State                             0
Home.Ownership                    0
Monthly.Income                    0
FICO.Range                        0
Open.CREDIT.Lines                 0
Revolving.CREDIT.Balance          0
Inquiries.in.the.Last.6.Months    0
Employment.Length                 0
Fico_Low                          0
Fico_High                         0
Fico_Avg                          0
dtype: int64

In [152]:
loan['Home.Ownership'].unique()

array(['MORTGAGE', 'RENT', 'OWN', 'OTHER'], dtype=object)

In [153]:
mortgage = loan.loc[(loan['Home.Ownership'] == 'MORTGAGE'),'Fico_Avg']
rent = loan.loc[(loan['Home.Ownership'] == 'RENT'),'Fico_Avg']
own = loan.loc[(loan['Home.Ownership'] == 'OWN'),'Fico_Avg']
other = loan.loc[(loan['Home.Ownership'] == 'OTHER'),'Fico_Avg']

In [158]:
other

294     657.0
978     677.0
1484    682.0
2102    672.0
2418    682.0
Name: Fico_Avg, dtype: float64

we will perform anova test as there are more than 2 samples

In [159]:
b4= stats.f_oneway(mortgage,rent,own,other)

In [161]:
b4.pvalue<0.05

True

as p-value is less than 0.05 so there is no relationship between fico scores and home ownership with 95% CI

# BUSINESS PROBLEM - 2

# We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

In [162]:
price = pd.read_csv('Price_Quotes.csv')

In [163]:
price

    Order_Number  Barry_Price  Mary_Price
0              1          126         114
1              2          110         118
2              3          138         114
3              4          142         111
4              5          146         129
5              6          136         119
6              7           94          97
7              8          103         104
8              9          140         127
9             10          152         133
10            11          108         103
11            12           97         108

In [173]:
barry=price.Barry_Price
mary=price.Mary_Price

In [174]:
barry

0     126
1     110
2     138
3     142
4     146
5     136
6      94
7     103
8     140
9     152
10    108
11     97
Name: Barry_Price, dtype: int64

as we have 2 samples so we can use paired sample t-test

In [175]:
b5=stats.ttest_rel(a=barry, b=mary)

In [176]:
b5

Ttest_relResult(statistic=2.521376510892349, pvalue=0.02840588045242053)

as p-value is less than 0.05 so there is difference between prices of mary and barry

# BUSINESS PROBLEM - 3

In [177]:
data = pd.read_csv('Treatment_Facility.csv')

In [178]:
data

    Month Reengineer  Employee_Turnover       VAR4        VAR5
0       1      Prior             0.0000  24.390244   42.682927
1       2      Prior             6.0606  19.354839   25.806452
2       3      Prior            12.1212  35.087719  146.198830
3       4      Prior             3.3333  18.404908  110.429448
4       5      Prior            12.9032  17.964072   23.952096
5       6      Prior             9.6774  41.176471   47.058824
6       7      Prior            11.7647  13.422819    0.000000
7       8      Prior            11.4286  31.250000   25.000000
8       9      Prior            23.0769  17.241379  132.183908
9      10      Prior            15.0000  16.574586   16.574586
10     11      Prior            10.0000   5.917160   88.757396
11     12      Prior            26.0870  21.164021   31.746032
12     13      Prior            11.1111   5.076142   10.152284
13     14       Post            26.6667   9.708738   29.126214
14     15       Post            17.9487   4.201681   21.008403
15     16       Post            12.8205  13.043478   34.782609
16     17       Post            15.7895   9.950249   19.900498
17     18       Post             0.0000   9.950249    9.950249
18     19       Post            30.7692   8.510638   25.531915
19     20       Post            26.8293   9.259259   23.148148

In [187]:
prior = data.loc[(data['Reengineer'] == 'Prior'),'Employee_Turnover']
post = data.loc[(data['Reengineer'] == 'Post'),'Employee_Turnover']

In [190]:
b6=stats.ttest_ind(a= prior, b= post, equal_var=False)

In [196]:
b6

Ttest_indResult(statistic=-1.5653912078421088, pvalue=0.15207128913702453)

In [191]:
b6.pvalue<0.05

False

as p value is greater than 0.05 so there is no difference in employee turnover after reengineering

In [193]:
prior_temp = data.loc[(data['Reengineer'] == 'Prior'),'VAR4']
post_temp = data.loc[(data['Reengineer'] == 'Post'),'VAR4']

In [194]:
b7=stats.ttest_ind(a= prior_temp, b= post_temp, equal_var=False)

In [197]:
b7

Ttest_indResult(statistic=3.690382530309883, pvalue=0.0022744273676772084)

In [195]:
b7.pvalue<0.05

True

as p value is less than 0.05 so Number of residents removed from the facility decreased after the reengineering effort with 95% CI

In [198]:
prior_c = data.loc[(data.Reengineer == 'Prior'),'VAR5']
post_c = data.loc[(data.Reengineer == 'Post'),'VAR5']

In [200]:
b8=stats.ttest_ind(a= prior_c, b= post_c, equal_var=False)

In [201]:
b8

Ttest_indResult(statistic=2.209006531430452, pvalue=0.045565519570193176)

In [202]:
b8.pvalue<0.05

True

as p value is less than 0.05 so critical incident decreased after the reengineering effort with 95% CI

# BUSINESS PROBLEM - 4

In [204]:
priority = pd.read_csv('Priority_Assessment.csv')

In [205]:
priority

     Days Priority
0     3.3     High
1     7.9   Medium
2     0.3     High
3     0.7   Medium
4     8.6   Medium
..    ...      ...
637   2.5      Low
638   0.3     High
639   0.3   Medium
640   1.3   Medium
641   0.5     High

[642 rows x 2 columns]

In [207]:
low = priority.loc[(priority.Priority == 'Low'),'Days']
Medium = priority.loc[(priority.Priority == 'Medium'),'Days']
High = priority.loc[(priority.Priority == 'High'),'Days']

In [208]:
b9=stats.ttest_ind(a= low, b= Medium, equal_var=False)

In [209]:
b9

Ttest_indResult(statistic=2.0844370107136743, pvalue=0.039955774952838315)

In [210]:
b9.pvalue<0.05

True

Medium priority jobs are done quickly comapred to low priority jobs.

In [211]:
b10=stats.ttest_ind(a= Medium, b= High, equal_var=False)

In [212]:
b10

Ttest_indResult(statistic=-0.9780778483608645, pvalue=0.32845956565961953)

In [213]:
b10.pvalue<0.05

False

high priority jobs are done quickly comapred to medium priority jobs

# BUSINESS PROBLEM - 5

In [215]:
film = pd.read_csv('Films.csv')

In [216]:
film

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,1,1,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,1,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,1,1,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

### What is the overall level of customer satisfaction?

In [218]:
cust_satisfaction=film.Overall.mean()

In [219]:
cust_satisfaction

1.6189024390243902

### What factors are linked to satisfaction

(1) Signage (2) Parking (3) Clean

In [ ]:
# What is the demographic profile of Film on the Rocks patrons?

### In what media outlet(s) should the film series be advertised?

In [220]:
film.Hear_About.mode()

0    5
dtype: object

as 5 is the most number in hear_about so 5 = word of mouth is the best media outlet